<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://kit.fontawesome.com/51a9d021a9.js" crossorigin="anonymous"></script>
    <title>Sorting Sockets</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="header-container">
            <h1>Sorting <span>via</span>Sockets</h1><i class="fa-solid fa-ethernet"></i>
        </div>
    </header>

    <!-- MAIN CONTENT -->
    <main>
        <div class="main-container">

            <!-- SECTION: INFO -->
            <section class="info">
                <h2>About this page</h2>
                <hr>
                <p>
                    This is a tool to interact with a server through vectors and sorting methods.
                    Check the options below and click on any of them to start using it.
                    This tool was possible thanks to
                        <a id="flask" target="_blank" href="https://flask.palletsprojects.com/en/2.2.x/"><i class="fa-brands fa-python"></i> Flask</a>
                        and
                        <a id="socketio" target="_blank" href="https://socket.io/"><i class="fa-brands fa-square-js"></i> Socket.IO</a>.
                </p>
            </section>

            <!-- SECTION: TOOLS -->
            <section class="tools">
                <h2>Tools</h2>
                <hr>
                <p>Select one option:</p>
                <div class="options">

                    <div class="tool" id="mergesort-opt" onclick="showInteract('merge', this)">
                        <i class="fa-solid fa-code-merge"></i>
                        <p>Merge Sort</p>
                    </div>
                    <div class="tool" id="heapsort-opt" onclick="showInteract('heap', this)">
                        <i class="fa-solid fa-diagram-project"></i>
                        <p>Heap Sort</p>
                    </div>
                    <div class="tool" id="quicksort-opt" onclick="showInteract('quick', this)">
                        <i class="fa-solid fa-bolt"></i>
                        <p>Quick Sort</p>
                    </div>

                </div>
            </section>

            <!-- SECTION: INTERACT -->
            <section class="interact">
                <h2 id="title-sort"></h2> 

                <!-- Vector -->
                <div class="vector">
                    <h3>Vector to use</h3>
                    <p>
                        You can introduce the vector yourself, or you generate a random one as well.
                        Note that despite the size of the vector field, the size of the vector can only be <= 100000.
                    </p>

                    <div class="vector-select">
                        <label for="vector-mode">Mode:</label>
                        <select id="vector-mode" oninput="showVectorParams(value)">
                            <option value="select">Select an option</option>
                            <option value="manual">Manual</option>
                            <option value="auto">Random</option>
                        </select>
                    </div>

                    <div class="vector-manual">
                        <p>Introduce the vector numbers separated by commas like this: 4,32,7,3,1</p>
                        <label for="vector-manual">Vector:</label>
                        <textarea id="vector-manual" onkeypress="validateVector(event, this)"></textarea>
                    </div>

                    <div class="vector-auto">
                        <div class="vector-display">
                            <label for="vector-auto">Generated vector:</label>
                            <textarea id="vector-auto" name="vector-auto" placeholder="Fill the fields and then click on 'Generate'" disabled></textarea>
                        </div>
                        
                        <div class="vector-params">
                            <label for="vector-min-num">Min. number:</label>
                            <input type="text" id="vector-min-num" onkeypress="validateParams(event, this)">
    
                            <label for="vector-max-num">Max. number:</label>
                            <input type="text" id="vector-max-num" onkeypress="validateParams(event, this)">
    
                            <label for="vector-size">Size:</label>
                            <input type="text" id="vector-size" onkeypress="validateParams(event, this)">
                        </div>

                        <button onclick="generate()">Generate</button>
                    </div>
                </div>

                <!-- Sort -->
                <div class="sort">
                    <h3>Sort</h3>

                    <div class="quicksort-select">
                        <label for="quicksort-mode">Quick Sort pivot:</label>
                        <select id="quicksort-mode">
                            <option value="quicksort">Median-of-three</option>
                            <option value="quicksort_left">Left</option>
                            <option value="quicksort_right">Right</option>
                        </select>
                    </div>

                    <p>Once filled the fields above, click on the button 'Sort' below.</p>

                    <textarea disabled id="results"></textarea>
                    
                    <!-- LOADING BAR -->
                    <div class="loading-bar">

                    </div>

                    <div class="button-wrapper">
                        <button onclick="sort()">Sort</button>
                    </div>
                </div>

            </section>

        </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <p class="who-we-are">Made by two students in a hurry.</p>
        <div id="github"><a href="https://github.com/manzeloth/sorting-sockets" target="_blank"><i class="fa-brands fa-github"></i></a></div>
        
    </footer>

    <!-- SOCKETS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>

    <!-- TRIGGERS & VALS. -->
    <script src="../static/js/main.js"></script>
    <script src="../static/js/vals.js"></script>
    <script src="../static/js/triggers.js"></script>
</body>
</html>