:root {
    --charcoal: #383F51;
    --lavender: #DDDBF1;
    --blue: #3C4F76;
    --pale: #D1BEB0;
    --silver: #AB9F9D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- BODY ---------- */

body {
    font-family: 'Rubik', sans-serif;
}

/* ---------- HEADER ---------- */

header {
    width: 100%;
    height: 60px;
    border-bottom: 10px solid rgb(245 245 245);
    user-select: none;
}

header .header-container {
    height: 100%;
    width: 60%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-container h1 {
    font-size: 28px;
    color: var(--blue);
}

header .header-container span {
    font-size: 16px;
    color: var(--silver);
}

header .header-container i {
    font-size: 28px;
    margin-left: 5px;
    color: var(--charcoal);
}

/* ---------- MAIN ---------- */

main {
    width: 100%;
}

main .main-container {
    width: 60%;
    margin: auto;
}

/* SECTIONS */
main .main-container section {
    width: 100%;
    margin-top: 20px;
}

/* SECTION: INFO */
main .main-container .info h2 {
    font-size: 22px;
    color: var(--silver);
}

main .main-container .info hr {
    height: 1px;
    border: 0;
    background: var(--silver);
    margin-top: 2px;
    margin-bottom: 10px;
}

main .main-container .info p {
    line-height: 20px;
    font-size: 16px;
    color: rgb(20 20 20);
}

main .main-container .info p a {
    font-size: 20px;
    text-decoration: none;
}

main .main-container .info p #flask {
    color: #4584b6;
}

main .main-container .info p #socketio {
    color: #c4ad00;
}

/* SECTION: TOOLS */
main .main-container .tools h2 {
    font-size: 22px;
    color: var(--silver);
}

main .main-container .tools hr {
    height: 1px;
    border: 0;
    background: var(--silver);
    margin-top: 2px;
    margin-bottom: 10px;
}

main .main-container .tools p {
    line-height: 20px;
    font-size: 16px;
    color: rgb(20 20 20);
}

main .main-container .tools .options {
    margin-top: 10px;
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .main-container .tools .options .tool {
    height: 100%;
    width: 100px;

    background: rgb(245 245 245);
    border-radius: 2px;

    margin: 0 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

main .main-container .tools .options .tool i {
    font-size: 22px;
    color: var(--blue);
}

main .main-container .tools .options .tool p {
    font-size: 12px;
    margin-top: 5px;
    color: rgb(20 20 20);
}

main .main-container .tools .options .tool:hover {
    background-color: rgb(240 240 240);
}

/* SECTION: INTERACT */
main .main-container .interact {
    display: none; /* Initial display on page load */
}

main .main-container .interact h2 {
    font-size: 22px;
    text-align: center;
    color: var(--silver);
}

/* SUB-SECTIONS */
main .main-container .interact > div {
    width: 90%;
    margin: 15px auto 0 auto;
}

/* SUB-SECTION: VECTOR */
main .main-container .interact .vector h3 {
    font-size: 20px;
    color: var(--blue);
    margin-bottom: 10px;
}

main .main-container .interact .vector p {
    line-height: 20px;
    font-size: 16px;
    color: rgb(20 20 20);
}

main .main-container .interact .vector .vector-select {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .main-container .interact .vector .vector-select label {
    padding-right: 10px;
}

main .main-container .interact .vector .vector-select select {
    border: 2px solid var(--pale);
    border-radius: 2px;
    padding: 2px 10px;
    background: transparent;
}

main .main-container .interact .vector .vector-select select:focus {
    border: 2px solid var(--blue);
}

main .main-container .interact .vector .vector-manual {
    margin-top: 10px;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

/* on-active */
main .main-container .interact .vector .vector-manual.active {
    display: flex;
}

main .main-container .interact .vector .vector-manual p {
    line-height: 20px;
    font-size: 12px;
    color: rgb(20 20 20);
}

main .main-container .interact .vector .vector-manual label {
    font-size: 14px;
}

main .main-container .interact .vector .vector-manual input {
    width: 80%;
    font-size: 18px;
    color: gray;
    outline: none;
    padding-left: 5px;
}

main .main-container .interact .vector .vector-manual input:focus {
    border: 2px solid var(--blue);
    border-radius: 2px;
}

main .main-container .interact .vector .vector-auto {
    margin-top: 10px;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

/* on-active */
main .main-container .interact .vector .vector-auto.active {
    display: flex;
}

main .main-container .interact .vector .vector-auto > div {
    width: 100%;
}

main .main-container .interact .vector .vector-auto .vector-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .main-container .interact .vector .vector-auto .vector-display #vector-auto {
    font-size: 18px;
    width: 80%;
}

main .main-container .interact .vector .vector-auto .vector-params {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

main .main-container .interact .vector .vector-auto label {
    font-size: 14px;
}

main .main-container .interact .vector .vector-auto input {
    font-size: 16px;
    color: gray;
    outline: none;

    padding-left: 5px;
}

main .main-container .interact .vector .vector-auto input:focus {
    border: 2px solid var(--blue);
    border-radius: 2px;
}

main .main-container .interact .vector .vector-auto button {
    font-family: 'Rubik', sans-serif;
    margin-top: 5px;
    background: var(--blue);
    color: white;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}


/* ---------- FOOTER ---------- */

footer {
    position: absolute;
    bottom: 0;

    background: var(--blue);
    width: 100%;
    height: 45px;
}

footer .who-we-are {
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 45px;
}

footer #github {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

footer #github a {
    text-decoration: none;
}

footer #github i {
    font-size: 30px;
    color: white;
}